<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
</head>
<body style="background-image:url(../static/imgs/bg2.png);">
    <div class="menu">
        <div class="mf">
            <img src="../static/imgs/monkeyfront.png" alt="">
        </div>
        <div class="mb-1"></div>
        <div class="mb-2"></div>
        <div class="mr">
            <div class="upm-menu">
                <div class="upm-mi">
                    <div class="mi-1"></div>
                    <div class="mi-2"></div>
                </div>
                <div class="upm-mt">
                    <p>MINET.GOV.COM</p>
                    <p>official government website for upm</p>
                </div>
            </div>
            <div class="item-menu">
                <div class="home-m">
                    <p>home</p>
                </div>
                <div class="about-m">
                    <p>about</p>
                </div>
                <div class="mycitizen-m">
                    <p>mycitizen</p>
                </div>
                <div class="space"></div>
                <div class="services-m">
                    <p>services</p>
                </div>
                <div class="contact-m">
                    <p>contact us</p>
                </div>
            </div>
            <div class="s-bar">
                <div class="s-1b"></div>
                <div class="s-2b"></div>
                <img src="../static/imgs/searchbar.svg" alt="">
            </div>
            <div class="l-bar">
                <div class="l-1b"></div>
                <div class="l-2b"></div>
                <p>Login to MYCITIZEN</p>
            </div>
        </div>
    </div>
    <div class="profile">
        <div class="profmain">
            <div class="profimg">
                <img src="../static/imgs/profile.png" alt="">
            </div>
            <div class="profname">
                <p>Aakash Ashok</p>
            </div>
            <div class="profdesc">
                <p>self taught programmer and communist</p>
            </div>
            <div class="profs">
                <p>Age: 15 <br>
Location: Miling, Maclesia <br>
Status: Baddie w/ a Daddy <br>
Education: B.E. In Gooning Science </p>
            </div>
        </div>
        <div class="profshadow"></div>
        <div class="profgrid">
            <div class="profbox">
                <div class="pdesc">
                    <p><span style="font-weight: 700;font-size: 1.5vw;">About: </span><br>
Aakash Ashok is a self-taught programmer with proficiency in multiple programming languages and a strong background in computer science. As a tax-paying citizen of the United Pingdom of Minet, he actively contributes to the nation’s growing digital sector. His expertise spans software development, system optimization, and innovative technology solutions.</p>
                </div>
            </div>
            <div class="profboxshadow" style ="top:5px"></div>
            <div class="profbox">
                <div class="pdesc">
                    <p><span style="font-weight: 700;font-size: 1.5vw;">Goals: </span><br>
                    <ul>
                        <li>To develop accessible, low-bandwidth software tools for the citizens of UPM.</li>
                        <li>To promote digital literacy and coding education in rural communities.</li>
                        <li>To contribute to the modernization of national services through secure and efficient technology.</li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="profboxshadow" style ="top:calc(24.5vh + 5px)"></div>
            <div class="profbox">
                <div class="pdesc">
                    <p><span style="font-weight: 700;font-size: 1.5vw;">Hobbies and Skills:</span><br>
                    <ul style="margin-top:0.25vw">
                        <li>Hobbies: <ul>
                            <li>    Tinkering with selfmade electronics projects.</li>
                            <li>    Participating in local hackathons.</li>
                        </ul></li>
                        <li>Skills:
                            <ul>
                                <li>    Debugging complex code under tight deadlines.</li>
                            </ul>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="profboxshadow" style ="top:calc(49vh + 5px)"></div>
        </div>
    </div>
    <div class="billmain">
        <div class="billmonke">
            <img src="../static/imgs/billmonke.png" alt="">
        </div>
        <div class="billhead">
            <p>Bill Payment Tracker</p>
        </div>
        <div class="billdesc">
            <p>Pay your bills at your ease, take your time </p>
        </div>
        <div class="billbank">
            <p>authorised by CENTRAL BANK OF UPM</p>
        </div>
        <div class="billgrid">
            <div class="billgridrow">
                <div class="billgridcolumn">
                    <p>BILL TYPE</p>
                </div>
                <div class="billgridcolumn">
                    <p>STATUS</p>
                </div>
                <div class="billgridcolumn">
                    <p>TRANSACTION</p>
                </div>
            </div>
            <div class="billgridrow">
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Electricity Bill</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Unpaid</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Pay</p>
                    </div>
                </div>
            </div>
            <div class="billgridrow">
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Water Bill</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Unpaid</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Pay</p>
                    </div>
                </div>
            </div>
            <div class="billgridrow">
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Home Mortgage</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Unpaid</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Pay</p>
                    </div>
                </div>
            </div>
            <div class="billgridrow">
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Maintanance Bill</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Unpaid</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Pay</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="querymain">
        <div class="billmonke">
            <img src="../static/imgs/querymonke.png" alt="">
        </div>
        <div class="billhead">
            <p>Query Tracker</p>
        </div>
        <div class="billdesc">
            <p>Dashboard for your queries</p>
        </div>
        <div class="billbank">
            <p>organized by United Pingdom of Minet</p>
        </div>
        <div class="billgrid">
            <div class="billgridrow">
                <div class="billgridcolumn">
                    <p>QUERY TYPE</p>
                </div>
                <div class="billgridcolumn">
                    <p>STATUS</p>
                </div>
                <div class="billgridcolumn">
                    <p>QUERY NAME</p>
                </div>
            </div>
            <div class="billgridrow">
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Electricity Bill</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Unpaid</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="queryrect">
                        <p>Pay</p>
                    </div>
                </div>
            </div>
            <div class="billgridrow">
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Water Bill</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Unpaid</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="queryrect">
                        <p>Pay</p>
                    </div>
                </div>
            </div>
            <div class="billgridrow">
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Home Mortgage</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Unpaid</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="queryrect">
                        <p>Pay</p>
                    </div>
                </div>
            </div>
            <div class="billgridrow">
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Maintanance Bill</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="billrect">
                        <p>Unpaid</p>
                    </div>
                </div>
                <div class="billgridcolumn">
                    <div class="queryrect">
                        <p>Pay</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pline">
            <div class="plgrid">
                <div>
                    <p>ASK NEW QUERY</p>
                </div>
                <div>
                    <a href = "/">BACK TO HOMEPAGE</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll(".billgridrow:nth-child(n+2) > .billgridcolumn:nth-child(3) > .billrect").forEach(obj => {
            obj.style.opacity = "1";
            obj.addEventListener("click", () => {
                if(Number(obj.style.opacity) > 0.8) {
                    obj.style.opacity = "0.6"
                    obj.firstElementChild.innerHTML = "Paid"
                    obj.style.cursor = "default";
                }
            })
        })
    </script>
</body>
</html>